body {
  padding: 32px;
  margin: 32px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
}


.parent {
  border: 1px solid #3f5a54;
  background-color: #cccccc;
  padding: 10px;
}

.child{
  border:1px solid #2c2c2c;
  background-color: #2f4f90;
  padding: 10px;

}